.color-rojo {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 10px;
  margin: 10px;
}

.color-az {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(0, 138, 217);
  border-radius: 10px;
  margin: 10px;
}

.color-negro {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px;
}

.color-verde {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(9, 185, 0);
  border-radius: 10px;
  margin: 10px;
}

.color-rey {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(1, 52, 255);
  border-radius: 10px;
  margin: 10px;
}

.color-gray-f {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(34, 35, 35);
  border-radius: 10px;
  margin: 10px;
}

.color-gray-c {
  border: solid .1px rgb(40, 40, 40);
  width: 20px;
  height: 20px;
  background: rgb(126, 126, 126);
  border-radius: 10px;
  margin: 10px;
}

.color-blanco {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
}

.color-militar {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: #4B5320;
  /* Verde militar */
  border-radius: 10px;
  margin: 10px;
}

.color-vino {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: #800020;
  /* Color vino */
  border-radius: 10px;
  margin: 10px;
}

.color-azul-marino {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: #011370;
  /* Azul marino */
  border-radius: 10px;
  margin: 10px;
}

.color-amarillo {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: #FFFF00;
  border-radius: 10px;
  margin: 10px;
}

.color-naranja {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: #FFA500;
  border-radius: 10px;
  margin: 10px;
}

.color-celeste {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: #00CED1;
  border-radius: 10px;
  margin: 10px;
}

.color-marron {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: #8B4513;
  border-radius: 10px;
  margin: 10px;
}
