<div>
  <h3 style="color: white;">Colores Tiras</h3>
  <div>
    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-rojo"></div>
    </label>

    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-az"></div>
    </label>


    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-negro"></div>
    </label>


    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-amarillo"></div>
    </label>


    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-verde"></div>
    </label>


    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-rey"></div>
    </label>

    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-blanco"></div>
    </label>

    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-gray-f"></div>
    </label>

    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-gray-c"></div>
    </label>

    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-militar"></div>
    </label>


    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-vino"></div>
    </label>


    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-azul-marino"></div>
    </label>

    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-naranja"></div>
    </label>

    <label style="display: flex;">
      <input type="radio" name="opcion" value="red" (change)="onColorChange($event)">
      <div class="color-marron"></div>
    </label>
  </div>
</div>
