.color-rojo {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(239, 46, 149); /* rosa-fuerte */
  border-radius: 10px;
  margin: 10px;
}

.color-az {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 128); /* azul-marino */
  border-radius: 10px;
  margin: 10px;
}

.color-negro {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0); /* negro */
  border-radius: 10px;
  margin: 10px;
}

.color-verde {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(111, 184, 39); /* verde-pasto */
  border-radius: 10px;
  margin: 10px;
}

.color-rey {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(0, 32, 146); /* azul-rey */
  border-radius: 10px;
  margin: 10px;
}

.color-gray-f {
  border: solid .1px black;
  width: 20px;
  height: 20px;
  background: rgb(63, 67, 71); /* gris-rata-jaspeado */
  border-radius: 10px;
  margin: 10px;
}

.color-gray-c {
  border: solid .1px rgb(40, 40, 40);
  width: 20px;
  height: 20px;
  background: rgb(162, 162, 162); /* gris-claro-jaspeado */
  border-radius: 10px;
  margin: 10px;
}

.color-blanco {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255); /* blanco */
  border-radius: 10px;
  margin: 10px;
}

.color-militar {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(62, 78, 35); /* verde-militar */
  border-radius: 10px;
  margin: 10px;
}

.color-vino {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(73, 9, 25); /* vino */
  border-radius: 10px;
  margin: 10px;
}

.color-azul-marino {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 128); /* azul-marino */
  border-radius: 10px;
  margin: 10px;
}

.color-amarillo {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 0); /* amarillo */
  border-radius: 10px;
  margin: 10px;
}

.color-naranja {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(255, 165, 0); /* naranja */
  border-radius: 10px;
  margin: 10px;
}

.color-marron {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(178, 34, 34); /* ladrillo */
  border-radius: 10px;
  margin: 10px;
}

.color-1 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(202, 148, 202); /* lila */
  border-radius: 10px;
  margin: 10px;
}

.color-2 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(144, 238, 144); /* verde-agua */
  border-radius: 10px;
  margin: 10px;
}

.color-3 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(135, 206, 235); /* azul-cielo */
  border-radius: 10px;
  margin: 10px;
}

.color-4 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(239, 234, 218); /* hueso */
  border-radius: 10px;
  margin: 10px;
}

.color-5 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(183, 143, 0); /* mostaza */
  border-radius: 10px;
  margin: 10px;
}

.color-6 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(216, 195, 150); /* beige */
  border-radius: 10px;
  margin: 10px;
}

.color-7 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(124, 71, 112); /* rosa-jaspeado */
  border-radius: 10px;
  margin: 10px;
}

.color-8 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(191, 255, 0); /* verde-limón */
  border-radius: 10px;
  margin: 10px;
}

.color-9 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(255, 182, 193); /* rosa-claro */
  border-radius: 10px;
  margin: 10px;
}

.color-10 {
  border: solid 0.1px black;
  width: 20px;
  height: 20px;
  background: rgb(55, 101, 114); /* azul petróleo-jaspeado */
  border-radius: 10px;
  margin: 10px;
}
