<div class="container-store">
  <div class="playera-container">
    <ng-container *ngIf="currentPlayera">
      <app-t-Shirt [playera]="currentPlayera"></app-t-Shirt>
    </ng-container>
  </div>

  <!-- Botones para navegar -->
  <div class="navigation-buttons">
    <button (click)="changePlayera(-1)" [disabled]="currentIndex === 0">Anterior</button>
    <button (click)="changePlayera(1)" [disabled]="currentIndex === playeras.length - 1">Siguiente</button>
  </div>
<div style="display: flex; justify-content: center; margin-top: 50px;">
  <div class="card-resumen">
    <h2>RESUMEN</h2>
    <p>Playeras totales: <span>{{playeras.length }}(Tallas: {{tallas}} )</span></p>
    <p>Total: <span>${{playeras.length * 140 }}.00</span></p>
    <button (click)="enviarWhatsApp()">HACER EL PEDIDO</button>
  </div>
</div>
<div style="display: flex; justify-content: center; margin-top: 50px;">
  <div class="card-btn">
    <button style="width: 100%; margin-bottom: 10px;">SEGUIR COMPRANDO</button>
    <button style="width: 100%; margin-bottom: 10px;">ELIMINA ESTA PLAYERA</button>
    <button style="width: 100%; margin-bottom: 10px;">VACIAR CARRITO</button>
  </div>
</div>
</div>

