<div class="container-store">
  <div>
    <p>Ya casi son tuyas estas playeras</p>
  </div>
  <div>
    <p>{{ 'Playeras totales: ' + playeras.length }}</p>
  </div>

  <div class="playera-container">
    <ng-container *ngIf="currentPlayera">
      <app-t-Shirt [playera]="currentPlayera"></app-t-Shirt>
    </ng-container>
  </div>

  <!-- Botones para navegar -->
  <div class="navigation-buttons">
    <button (click)="changePlayera(-1)" [disabled]="currentIndex === 0">Anterior</button>
    <button (click)="changePlayera(1)" [disabled]="currentIndex === playeras.length - 1">Siguiente</button>
  </div>
</div>
