<div class="container-landing">
  <div class="conta-info">
    <div class="conta-img_">
      <img class="img-i_" src="images/playera-landing.jpg" alt="">
    </div>
    <h2>RAGNAR WEAR</h2>
    <hr>
    <h1>Tu Estilo, Tu Actitud</h1>
    <p>En Ragnar Wear, nos apasiona ofrecerte más que solo ropa, sino una experiencia de comodidad y estilo. Nuestras
      playeras Ranglan están hechas artesanalmente con materiales de alta calidad, pensadas para quienes buscan un look
      único y atrevido, sin sacrificar la comodidad.</p>
    <p>Diseñadas con cortes modernos y un toque de estilo, cada playera refleja nuestra visión de lo que significa ser
      audaz y auténtico. Ya sea para tu día a día o para destacar en ocasiones especiales, nuestras playeras son ideales
      para quienes no temen mostrar su personalidad.</p>
    <hr>
    <p>Únete a la familia Ragnar y viste con orgullo nuestras piezas exclusivas que hacen resaltar tu individualidad.
    </p>
    <button (click)="goTShirt()" class="btn-landing">Combinar mi playera</button>
  </div>
  <div class="conta-img">
    <img class="img-i" src="images/playera-landing.jpg" alt="">
  </div>

</div>
