<div class="navbar-container">
  <div style="display: flex; cursor: pointer;" (click)="gotToHome()">
    <!-- zona de logo y titulo -->
    <img class="img-logo" src="TlogoRW.png" alt="logo">
  </div>
  <div class="list-nav">
    <!-- zona de menu -->
    <!-- <p class="list-menu">Playeras</p> -->
    <p class="list-menu" (click)="goToPers()">Combinar Mi Playera</p>
    <!-- <p class="list-menu">Contacto</p> -->
    <div (click)="goToStore()"><mat-icon class="list-menu i-car">shopping_cart</mat-icon><div class="number-cir"><span class="number-car">{{carritoTotla}}</span></div></div>
  </div>
  <div class="c-menu">
    <mat-icon style="margin: 15px; z-index: 10;" (click)="showMenu()">menu</mat-icon>
  </div>
  <div *ngIf="showM" class="list" >
    <p (click)="showMenu()" class="l-menu"><mat-icon>dashboard</mat-icon> Playeras</p>
    <p (click)="showMenu(); goToPers()" class="l-menu"><mat-icon>dashboard</mat-icon> Combinar Mi Playera</p>
    <p (click)="showMenu()" class="l-menu"><mat-icon>dashboard</mat-icon> Contacto</p>
    <p (click)="showMenu(); goToStore()" class="l-menu"><mat-icon>shopping_cart</mat-icon> {{'Ir al carrito (' + carritoTotla + ')'}}</p>
  </div>
</div>


<!-- colorCuerpo
:
"rgb(0, 0, 0)"
colorMangas
:
"rgb(255, 0, 0)"
colorTiras
:
"rgb(0, 0, 0)" -->
