.navbar-container{
  display: flex;
  background: black;
  color: azure;
  justify-content: space-between;
  height: 9vh;
}
.list-nav{
  display: flex;
  justify-content: end;
}
.img-logo{
  width: 150px;
  height: 9vh;
}
.list-menu{
  margin-right: 25px;
  margin-top: 30px;
  cursor: pointer;
}
.c-menu{
  display: none;
}
.list{
  display: none;
}
@media screen and (max-width: 768px) {
.list-menu{
  display: none;
}

.c-menu{
  display: flex;
  cursor: pointer;
}
.list{
  display: block;
  position: absolute;
  background: rgb(22, 49, 63);
  padding: 20px;
  height: 45vh;
  border-radius: 0 0 1000px 0;
  z-index: 9;
}
.number-cir{
  display: none;
}
}
.number-cir{
  position: absolute;
  top: 20px;
  left: 98%;
  color: rgb(255, 255, 255);
  background: red;
  padding: 8px 8px;
  border-radius: 50px;
  font-size: 10px;
  width: 2px;
  height: 2px;
}
.number-car{
  position: absolute;
  top: -3px;
  left: 7px;
}
